<nav class="navbar" class="footer">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="social-h1">
                <!-- Removed facebook and Twitter as they are no longer used for now -->
                <a href="https://www.instagram.com/thetatau_miamiu" target="_blank"><i class="fa fa-instagram"></i></a>
                <!--<a href="https://www.facebook.com/ThetaTauMU/?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>-->
                <!--<a href="https://twitter.com/thetataumu" target= "_blank"><i class="fa fa-twitter"></i></a>-->
                <a href="https://www.linkedin.com/groups/8471878/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/ThetaTauMiami/" target="_blank"><i class="fa fa-github"></i></a>
            </h1>
        </div>
        <div class="col-lg-12 text-center">
            <p class="footer-links">
                <a href="/public">Home</a> ·
                <a href="gallery.html">Gallery</a> ·
                <a href="events.html">Events</a> ·
                <a href="leadership.html">Leadership</a> ·
                <a href="recruitment.html">Recruitment</a> ·
                <!--<a href="members">Members</a> ·
                <a href="alumni">Alumni</a> · -->
                <a href="contact.html">Contact Us</a>  ·
                <a href="login.html" id="footerLogin">Login</a>
                <a href="account.html" id="footerAccount" hidden="true">Account</a>
            </p>
            <p class="footer-links">Theta Tau | Tau Delta Chapter of Miami University | 2025</p>
        </div>
    </div>
</nav>