<!-- External Libraries -->
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+GYtPE1Y1CDUco3P7O1R1UowHqyyU92P2HG7aB9"
        crossorigin="anonymous">
</script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"
        integrity="sha384-rANmAtn2ncstUMZjeiOTe+oEXIYz4azPf2XXfRiSz7dmQmjCAi9lVo9WAwU8b7fF"
        crossorigin="anonymous">
</script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkTU3a6m0ctf7Nl7Q1xr+5fhTmM8EI5Sl77j7M3rVQdGdFdyjxQz"
        crossorigin="anonymous">
</script>
<!-- Custom Scripts -->
<script src="components/jumbotron.js"></script>
<script type="module" src="components/navbar.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="assets/js/loadComponents.js" defer></script>
<script src="assets/js/site.js" defer></script>


